header .nav {
	width: 1000px;
	float: left;

}
header .nav li {
	width: 16.66%;
	height: 125px; 
	float: left;
}
header .nav a {
	display: block;
	text-align: center;
	color: #2c160a;
	margin-top: 27px;
	text-decoration: none;
	font-size: 20px;
	line-height: 36px;
	font-weight: 600;
}

ul.names {
    font-size: 15px;
}
    ul.names li {
        display: block;
        line-height: 18px;
        margin-bottom: 9px;
    }
    ul.names li.title {
        line-height: 18px;
        margin-bottom: 36px;
    }
    ul.names a {
        color: #231f20;
        text-decoration: none;
    }
    ul.names a:hover {
        color: #ee7457;
    } 
    ul.names a.active {
        color: #ee7457;
    }
	
	@media only screen and (max-width: 1200px) {
		header .nav {
			width: 80%;
			float: left;
		}
		ul.names {
			padding-left: 176px;
		}
	}
	@media only screen and (max-width: 768px) {
		header .nav {
			width: 100%;
			clear: both;
		}
		header .nav li {
			width: 16.66%;
			height: 36px; 
			line-height: 36px;
			float: left;
		}
		header .nav a {
			margin-top: 9px;
		}
		ul.nav .wrapper-icon {
			display: none;
		}
		ul.names {
			padding-left: 0;
		}
		
		.sidebar ul.names {
			width: 90%;
			margin: 0 auto;
			text-align: center;
		} 
		.sidebar ul.names li {
			display: inline-block;
		}
		.sidebar ul.names li.title {
			margin-bottom: 0;
		}
		.sidebar ul.names li:after {
			content: " | ";
			margin: 0 10px;
		}		
		.sidebar ul.names li:last-child:after{
			content: " | ";
		}		

	}
	@media only screen and (max-width: 540px) {
		header .nav li {
			width: 33.33%;
		}
	}
